body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
    transition: background-color var(--tran-05); /* Adiciona transição suave para a mudança de cor de fundo */
}

body.dark {
    background-color: var(--body-color-dark); /* Define a cor de fundo no modo dark */
}

main {
    margin-left: 80px;
    overflow-y: auto;  /* Permite a rolagem vertical */
    height: 100vh; 
    margin-right: 15px;
    position: relative;
    z-index: 1; 
    margin-left: 100px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.title-container h1 {
    margin-right: 10px;
    color: white;
}

.title-container button {
    background-color: #4c6488;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    width: 40px;
    font-size: 15px;
}
button {
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color:#06347a;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

button:hover {
    background-color:#4c6488;
}


button:hover{
    background-color: #06347a;
}
.models, .parts, .availability {
    margin-bottom: 20px;
}

.accordion {
    border: 1px solid #06347a;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.accordion-item {
    border-bottom: 1px solid #06347a;
}

.accordion-header {
    background-color: #06347a;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    padding: 10px;
    display: none;

}

h2{
    margin-left: 20px;
}

.status-icon {
    font-size: 1.2em;
}

.progress-bar {
    height: 20px;
    background-color: #4c6488;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 20px;
}

.progress-bar-inner {
    height: 100%;
    background-color: green;
    width: 0%;
    transition: width 0.3s;
}