body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-image: url('../img/main.jpg');
    background-repeat: no-repeat;
    color: white;
}

main{
    padding: 20px;
    overflow-y: auto;  /* Permite a rolagem vertical */
    height: 100vh; 
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    margin-top: 20px;
   
}

#searchInput {
    width: 40%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #06347a;
    color:white;
}


.model-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin-left:80px;
    border-radius: 20px;
}

.model-grid .model {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.model-grid .model img {
    max-width: 100%;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Tamanho da caixa quadrada */
    height: 300px; /* Tamanho da caixa quadrada */
    background-color: #06347a;;
    padding: 20px;
    border-radius: 20px;

}

.modal-content {
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    font-size: 28px;
    color: white;

}

.close:hover,
.close:focus {
    color: #5490FF;
    text-decoration: none;
    cursor: pointer;
}