body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex; /* Para conseguir dividir a página ao meio */
    background-image: linear-gradient(to bottom, #c7d8e6, #51698c);
    height: 100vh;
    color: #3a3b3c; 
}

.left-side {
    flex: 1; /* atribui ao item uma proporção flexível em relação aos outros itens dentro do mesmo contêiner. */
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    top: 30px;
    right: 10%;
    font-size: 14px; 
    font-weight: normal;
}

.signup-form {
    width: 55%; 
}

h2 {
    font-size: 25px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    font-size: 14px;
    font-weight: normal;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom:15px;
    border-radius: 30px;
    border: none;
    background-color: #f0f0f0;
    font-size: 16px;
    color: #3a3b3c; 
}
input[type="text"]:focus ,
input[type="password"]:focus {
    outline: none;
   
}

button {
    border: 4px solid transparent;
    background: 
    linear-gradient(#f0f0f0 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    width: calc(100% + 30px);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #3a3b3c; 
}

button:hover {
    background: 
    linear-gradient(#f0f0f0 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to left, #c7d8e6, #51698c) border-box; 
}


.fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #3a3b3c;
}

.fa-eye-slash{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #3a3b3c;
}

#msgError {
    text-align: center;
    color: #ff0000;
    border-radius: 4px;
    display: block; /* Ensure the message is displayed */
    margin-top: 10px; /* Add some space between the message and other elements */
}

#msgSuccess {
    text-align: center;
    color: #40ff00;
    border-radius: 4px;
    display: block; /* Ensure the message is displayed */
    margin-top: 10px; /* Add some space between the message and other elements */
}