body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    background-color: #000;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

h1 {
    position: absolute;
    top: 30px;
    left: 10%;
    color: #fff;
    font-size: 14px; 
    font-weight: normal;
}

.signup-form {
    width: 55%; 
}

h2 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 0px;
}
h3 {
    margin-top: 0px;
    color: #fff;
    font-size: 14px; /* Aumentando o tamanho da fonte */
    font-weight: normal;
}

input[type="text"],
input[type="password"], input[type="submit"]  {
    width: 100%; /* Fazendo todos os inputs terem o mesmo tamanho */
    padding: 15px; /* Aumentando o padding */
    margin-bottom:15px;
    border-radius: 30px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px; /* Aumentando o tamanho da fonte */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #fff;
}

input[type="submit"] {
    width: calc(100% + 30px); 
    padding: 15px;
    border: none;
    background-color:#06347a;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color:#5490FF ;
}

.fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #fff;
}

.fa-eye-slash{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #fff;
}
  
#msgError{
    text-align: center;
    color: #ff0000;
    border-radius: 4px;
    display: none;
}