body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #000;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Definindo a largura para 50% */
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%; /* Definindo a largura para 50% */
}

h1 {
    position: absolute; /* Para posicionar no canto superior direito */
    top: 30px;
    left: 10%; /* Adicionando margem do topo e da direita */
    color: #fff;
    font-size: 14px; /* Aumentando o tamanho da fonte */
    font-weight: normal;
}

.signup-form {
    width: 55%; 
}

h2 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 0px;
}
h3 {
    margin-top: 0px;
    color: #fff;
    font-size: 14px; /* Aumentando o tamanho da fonte */
    font-weight: normal;
}

input[type="text"],
input[type="password"], input[type="submit"]  {
    width: 100%; /* Fazendo todos os inputs terem o mesmo tamanho */
    padding: 15px; /* Aumentando o padding */
    margin-bottom:15px;
    border-radius: 30px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px; /* Aumentando o tamanho da fonte */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #fff;
}

input[type="submit"] {
    width: calc(100% + 30px); 
    border: none;
    background-color: #5490FF;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}