:root {
    --tran-05: 0.5s; 
    --body-color-dark: #242526; 
    --light-text-color: #3a3b3c; 
    --light-bg-color: #f0f0f0; 
    --dark-text-color: #ccc; 
    --dark-bg-color: #3a3b3c; 
    --input-bg-color-light: #9fb3c8;
    --input-text-color-light: #707070; 
    --input-bg-color-dark: #3a3b3c; 
    --input-text-color-dark: #ffffff; 
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: var(--dark-text-color); 
    transition: background-color var(--tran-05);
}

body.light {
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
}

body.dark {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

main {
    margin-left: 80px;
    padding: 20px;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.title-container {
    position: absolute;
    top: 20px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

body.dark .title-container h1 {
    color: var(--dark-text-color);
}

body.light .title-container h1 {
    color: var(--light-text-color);
}

.charts-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    justify-items: center;   
}

body.dark .chart {
    background-color: var(--dark-bg-color);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px; 
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-text-color)
}

body.light .chart {
    background-color: var(--light-bg-color);
    border-radius: 20px;
    padding: 10px; 
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px; 
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-text-color)
}

.chart .carousel__content {
    text-align: center;
    padding: 20px;
}
