:root {
    --tran-05: 0.5s; 
    --body-color-dark: #242526; 
    --light-text-color: #3a3b3c; 
    --light-bg-color: #f0f0f0; 
    --dark-text-color: #ccc; 
    --dark-bg-color: #3a3b3c; 
    --input-bg-color-light: #9fb3c8;
    --input-text-color-light: #707070; 
    --input-bg-color-dark: #3a3b3c; 
    --input-text-color-dark: #ffffff; 
}


/* Overlay */
.overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 9998; /* Abaixo do modal, mas acima de outros elementos */
    display: none; /* Escondido por padrão */
    transition: opacity 0.3s ease;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
    transition: background-color var(--tran-05); /* Adiciona transição suave para a mudança de cor de fundo */
}

body.dark {
    background-color: var(--body-color-dark); /* Define a cor de fundo no modo dark */
}

body.light {
    background-color: var(--light-bg-color); /* Define a cor de fundo no modo light */
    color: var(--light-text-color); /* Define a cor do texto no modo light */
}

main {
    padding: 20px;
    overflow-y: auto;  /* Permite a rolagem vertical */
    height: 100vh; 
    position: relative;
    z-index: 1; 
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark .title-container h1 {
    color: var(--dark-text-color);
    margin-right: 10px;
}

body.light .title-container h1 {
    color: var(--light-text-color);
    margin-right: 10px;
}

.addComponent{
    border: 4px solid transparent;
    background: 
    linear-gradient(var(--dark-bg-color) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: var(--dark-text-color); /* Text color */
}

body.light .addComponent {
    background: 
    linear-gradient(var(--light-bg-color) 0 0) padding-box, /* Gradient background */
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    color: var(--light-text-color); /* Text color */
}


.search-bar {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    border-radius: 10px; /* Borda arredondada */
    padding: 0.5rem; /* Espaçamento interno */
    border: 1px solid transparent; /* Borda inicialmente transparente */
    transition: border-color 0.3s ease; /* Transição suave para a cor da borda */
}

#searchInput {
    width: 40%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 4px solid transparent;
    background:
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
}

/* Estilo para inputs no modo escuro */
body.dark #searchInput {
    background: 
    linear-gradient(var(--input-bg-color-dark) 0 0) padding-box,
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    color: var(--input-text-color-dark); /* Cor do texto */
}

body.dark #searchInput::placeholder {
    color: var(--dark-text-color); /* Cor do placeholder */
}

/* Estilo para inputs no modo claro */
body.light #searchInput {
    background: 
    linear-gradient(var(--light-bg-color) 0 0) padding-box,
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    color: var(--input-text-color-light); /* Cor do texto */    
}

body.light #searchInput::placeholder {
    color: var(--input-text-color-light); /* Cor do placeholder */
}

#searchInput:focus {
    outline: none;
    border: 4px solid transparent; /* Remover a borda ao focar */
}

.categories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 20px;
}

.category-btn {
    border: 4px solid transparent;
    background: 
    linear-gradient(var(--dark-bg-color) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: white; /* Definindo a cor do texto para branco como padrão */
}

body.dark .category-btn {
    background: 
    linear-gradient(var(--dark-bg-color) 0 0) padding-box, /* Gradient background */
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    color: var(--dark-text-color); /* Text color */
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

body.light .category-btn {
    background: 
    linear-gradient(var(--light-bg-color) 0 0) padding-box, /* Gradient background */
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    color: var(--light-text-color); /* Definindo a cor do texto para preto no modo light */
}

.category-btn img {
    max-width: 50px;
    max-height: 50px; 
    margin-right: 5px;
}

.category-btn:hover {
    transform: scale(1.1); 
}

.component-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin-left: 80px;
    border-radius: 20px;
}

body.light .component {
    background-color: var(--light-bg-color  );
    max-width: 1200px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: var(--light-text-color);
}

body.dark .component {
    background-color: var(--dark-bg-color);
    max-width: 1200px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: var(--dark-text-color);
}


/* Estilos para o modal */
body.light .modal {
    border: 4px solid transparent;
    background: 
    linear-gradient(var(--light-bg-color) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Tamanho da caixa quadrada */
    height: 300px; /* Tamanho da caixa quadrada */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);

}

body.light .modal-content {
    color: var(--light-text-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
}

/* Estilos para o modal */
body.dark .modal {
    border: 4px solid transparent;
    background: 
    linear-gradient(var(--dark-bg-color) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Tamanho da caixa quadrada */
    height: 300px; /* Tamanho da caixa quadrada */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);

}

body.dark .modal-content {
    color: var(--dark-text-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
}

body.light .close {
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    font-size: 28px;
    color: var(--light-text-color);
}

body.dark .close {
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    font-size: 28px;
    color: var(--dark-text-color);
}

.close:hover,
.close:focus {
    color:  #51698c;
    text-decoration: none;
    cursor: pointer;
}


body.light .categories .category-btn .quadcopter {   
     content: url('../img/quadcopter.png');
}

body.light .categories .category-btn .gear {   
    content: url('../img/gear-2.png');
}

body.light .categories .category-btn .power {   
    content: url('../img/power-2.png');
}

body.light .categories .category-btn .technology {   
    content: url('../img/technology.png');
}

#addComponentModal {
    width: 400px; /* Ajuste a largura conforme necessário */
    height: 400px; /* Ajuste a altura conforme necessário */
}



#addComponentModal input[type="text"],
#addComponentModal input[type="number"],
#addComponentModal textarea {
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        border: 4px solid transparent;
        background:
        linear-gradient(var(--input-bg-color-dark) 0 0) padding-box,
        linear-gradient(to right, #c7d8e6, #51698c) border-box;
        color:var(--dark-text-color)
    }
    
body.light  #addComponentModal input[type="text"],
body.light #addComponentModal input[type="number"],
body.light #addComponentModal textarea  {
    background:
        linear-gradient(var(--input-bg-color-light) 0 0) padding-box,
        linear-gradient(to right, #c7d8e6, #51698c) border-box;

    color:var(--light-text-color)
}
#addComponentModal button {
    border: 4px solid transparent;
    background: 
    linear-gradient(#f0f0f0 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #c7d8e6, #51698c) border-box;
    width: calc(100% + 30px);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #3a3b3c; 
}

button:hover {
    background: 
    linear-gradient(#f0f0f0 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to left, #c7d8e6, #51698c) border-box; 
}

