body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #c7d8e6, #51698c);
    color: #3a3b3c;
}

canvas {
    display: block;
}

header {
    padding: 20px;
    text-align: center;
}

#container {
    display: block;
    width: 100%;
    position: relative;
}

footer {
    color: #3a3b3c;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Estilos para o efeito digitando */
#welcome {
    display: inline-block;
    border-right: 2px solid #3a3b3c;
    padding-right: 3px;
    animation: blink-caret 0.5s step-end infinite alternate;
    white-space: nowrap;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0px; 
}

#description {
    font-size: 18px;
    text-align: center;
}

p a:hover{
    color:#4c6488;
}



@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white
    }
}