body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #797979
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}
.navbar {
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    z-index: 2; 
}
.navbar-logo {
    margin-right: auto;
    margin-right: 15px;
}
.navbar-logo img {
    height: 80px; 
}
.left-side {
    display: flex;
    align-items: center;
}
.navbar-links a {
    margin-left: auto;
    margin-right: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold; 
    margin-right: 20px;
}
.navbar-links a:hover {
    color: #06347a;
}
.navbar-icons {
    margin-left: auto;
}
.navbar-icons img {
    height: 50px; 
    margin-left: 10px;
    transition: transform 0.3s ease;
}
.navbar-icons img:hover {
    transform: scale(1.2); 
}
.section {
    position: relative;
    display: inline-block;
}
h1{
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
    font-size: 17px;
    padding-bottom: 15px;
}
h3{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    max-width: 600px;
}

.input-button-container {
    display: flex;
    align-items: center;
}

.input-button-container input[type="text"] {
    padding: 15px;
    margin-right: 10px; /* Adiciona espaçamento entre o input e o botão */
    border-radius: 30px;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 16px;
}

.input-button-container button {
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    background-color: #06347a;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button {
    width: 100px; /* Defina a largura igual ao input de pesquisa */
    height: 40px; /* Ajuste conforme necessário */
    padding: 5px;
    border-radius: 30px;
    border: none;
    background-color: #06347a;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #5490FF;
}

.categories {
    margin-top: 20px; /* espaço acima da seção de categorias */
    display: flex;
    justify-content: center;
}

.category-card {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.category-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.category-name {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}
.input-button-container {
    display: flex; /* Usando flexbox */
    align-items: center; /* Centraliza os itens horizontalmente */
}